<form (ngSubmit)="postNewQuack();">
  <div class="form-group">
    <textarea [(ngModel)]="quackCreate.message" placeholder="What are you quacking about?" class="form-control" id="quackMessage"
      name="quackMesage" rows="3"></textarea>
  </div>
  <p><button [disabled]="!quackCreateCanSubmit || quackCreate.message.trim() == ''" class="btn btn-primary btn-lg" role="button"
      type="submit">Tell the world!</button></p>
</form>