<form (ngSubmit)="edit()">
  <h4>
    <a [routerLink]="['/user', quackDto.owner.username]">{{quackDto.owner.username}}</a><span *ngIf="isAQuackByLoggedInUser()">(you)</span>
    <small class="text-muted"><app-ago [date]="quackDto.created"></app-ago></small>
  </h4>
  <p *ngIf="quackEditDto == null && !canEdit()">
    {{quackDto.message}}
  </p>
  <p *ngIf="quackEditDto == null && canEdit()">
    <a class="editable" (mousedown)="showEdit();$event.stopImmediatePropagation();$event.preventDefault();$event.stopPropagation();">{{quackDto.message}}</a>
  </p>
  <p *ngIf="quackEditDto != null">
    <textarea (blur)="quackEditDto.message != quackDto.message ? null : hideEdit()" #quackEditMessage autoFocusAndSelect [(ngModel)]="quackEditDto.message" class="form-control" name="quackEditMessage" id="quackEditMessage"></textarea>
  </p>
  <p *ngIf="quackEditDto != null && quackEditDto.message != quackDto.message && quackDto.message.trim() != ''">
    <button class="btn btn-primary" type="submit">Save</button>
  </p>
  <p *ngIf="canDelete() && quackEditDto == null">
    <a href="javascript:void(0)" (click)="delete();">Delete</a>
  </p>
</form>