<div *ngIf="loggedInUser == null" class="jumbotron">
  <div class="container">
    <h1 class="display-3">Start Quacking now!</h1>
    <p>
      Have you ever heard of Quackr? It's like twitter, except it's better. We draw power from simplicity. No mentions, no replies, no pictures, just messages. Uh, and we also definitely beat those 140 characters! (Secret: admin account is "admin" with password "admin")
    </p>
    <p><a class="btn btn-primary btn-lg" routerLink="/login" role="button">Yes, please!</a></p>
  </div>
</div>
<div *ngIf="loggedInUser != null" class="jumbotron">
  <div class="container">
    <h1 class="display-3">Quack it up, {{loggedInUser.username}}!</h1>
    <app-quack-create (onQuackCreated)="update()"></app-quack-create>
  </div>
</div>

<div class="container">
  <app-quacks-list-three [quacks]="quacks"></app-quacks-list-three>
</div>