<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">You got lost! :/</h1>
    <p>Nothing to see here, sir. </p>
    <p><a class="btn btn-danger btn-lg" (click)="back();" href="#" role="button">Back</a></p>
  </div>
</div>