<div *ngIf="userDetailDto != null" class="jumbotron">
  <div class="container">
    <h1 class="display-3">{{userDetailDto.username}}</h1>
    <p>
      This is one bad bird, which managed to get this crazy number of {{userDetailDto.quacks.length}} Quacks out into the world!
    </p>
    <ng-container *ngIf="isLoggedInUsersProfilePage();">
      <p>
        This is your profile. Give us some more of this goodness!
      </p>
      <app-quack-create (onQuackCreated)="update()"></app-quack-create>
    </ng-container>
  </div>
</div>

<div *ngIf="userDetailDto == null && username != null" class="jumbotron">
  <div class="container">
    <h1 class="display-3">{{username}}</h1>
    <p>
      &nbsp;
    </p>
  </div>
</div>

<div *ngIf="userDetailDto != null" class="container">
  <app-quacks-list-three [quacks]="userDetailDto.quacks"></app-quacks-list-three>
</div>