<ng-container *ngIf="quacks && quacks.length > 0">
  <div *ngFor="let i of getRows()" class="row">

    <div class="col-md-4" *ngFor="let quack of quacks | slice:(i*itemsPerRow):(i+1)*itemsPerRow">
      <app-quack [quackDto]="quack" (onRequestDelete)="delete(quack);"></app-quack>
    </div>
  </div> 
</ng-container>