<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>-->
  <a class="navbar-brand" routerLink="/">Quackr</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}" *ngIf="loggedInUser != null" class="nav-item">
        <a class="nav-link" [routerLink]="['/user', loggedInUser.username]">Your Quacks</a>
      </li>
      <!--
          <li class="nav-item">
            <a class="nav-link disabled" href="#">My Quacks</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>-->
    </ul>

    <ng-container *ngIf="loggedInUser == null">
      <button routerLink="/login" class="btn btn-outline-success my-2 my-sm-0">Get Started!</button>
    </ng-container>
    <ng-container *ngIf="loggedInUser != null">
      <form class="form-inline">
        <span class="navbar-text" style="padding-right: 10px;">
          Welcome, {{loggedInUser.username}}!
        </span>

        <button (click)="logout();" class="btn btn-outline-danger my-2 my-sm-0">Log out</button>
      </form>
    </ng-container>
  </div>
</nav>