<div class="starter-template">
  <div class="container">
    <div class="col-md-8" style="margin: 0 auto;">
      <form (ngSubmit)="attemptLogin();" class="form-signin">
        <h2 class="form-signin-heading">Sign in</h2>
        <label for="inputUsername" class="sr-only">Name</label>
        <input [(ngModel)]="loginAttemptDto.username" name="inputUsername" type="text" id="inputUsername" class="form-control" placeholder="Name" required
          autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input [(ngModel)]="loginAttemptDto.password" name="inputOasswird" type="password" id="inputPassword" class="form-control" placeholder="Password"
          required>
        <div *ngIf="errorMessages != null && errorMessages.length > 0" class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" (click)="errorMessages=[];" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Error!</strong>
          <span *ngFor="let errorMessage of errorMessages">
            {{errorMessage}} <br />
          </span>
        </div>
        <button [disabled]="!canSubmit" class="btn btn-lg btn-primary btn-block" type="submit">Go</button>
        <div class="checkbox">
          <a routerLink="/register">Don't have an account yet? Register!</a>
        </div>
      </form>
    </div>
  </div>
</div>